@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to left, rgb(30, 30, 51), rgba(0, 0, 0, 0.39));
}

header {
    margin-top: 20px;
}

header h1{
    text-align: center;
    color: white;
}

section {
    width: 400px;
    height: 250px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    padding-top: 20px;
    border-radius: 8px;
    background-color: rgb(234, 238, 240);
}

section p {
    padding: 6px;   
}

section input{
    border: 1px solid rgba(0, 0, 0, 0.322);
    padding: 2px;
    border-radius: 3px;
    width: 140px;
}

#butt {
    background-color: rgba(0, 0, 0, 0.03);
    transition: transform 0.2s ease;
    padding: 5px;
    width: 58px;
}

input#butt:hover {
    
    transform: translateY(-3px);
}

div#res {
    padding: 6px;
}

footer p {
    text-align: center;
}

footer p > a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    background-color: rgba(255228, 196, 0.423);
    padding: 5px;
}

