@charset "UTF-8";

body {
    background-color: rgba(53, 95, 154, 0.869);
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    text-align: center;
    color: white;
}

section {
    min-width: 340px;
    max-width: 540px;
    height: 420px;
    margin: auto;
    padding-top: 14px;
    padding-left: 20px;
    border-radius: 12px;
    background-color: white;
}

section > article#result {
    margin-top: 30px;
    text-align: center;
            
}

.foto {
    border-radius: 50%;
    width: 250px;
    height: 240px;
}

footer p {
    text-align: center;
}

footer p > a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    background-color: rgba(255, 228, 196, 0.423);
    padding: 5px;
}