@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-color: rgb(107, 144, 224);
}

header {
    margin-top: 20px;
}

header h1 {
    text-align: center;
    color: white;
}

section {
    width: 350px;
    height: auto;
    margin: auto;
    padding: 20px;
    border-radius: 7px;
    background-color: white;
    margin-top: 20px;

}

section p {
    padding-bottom:10px;
}